---
layout: post
title : Archive
---

- site.archive.each do |year, monthly_archive|
  %h2= year
  - monthly_archive.each do |month, posts|  
    %h3= month
    %ul.compact
      - posts.each do |post|
        %li
          .date= post.date.strftime('%B %d, %Y')
          &raquo;
          - if post.link
            %a.link{ :href=>post.url }= "#{site.linked_list.link} #{ post.title}"
          - else
            %a{ :href=>post.url }= post.title